@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg_header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__bg {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}

.header__bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
}

.header__row {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  margin-left: 20px;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  z-index: 3;
}

.header__list li {
  list-style: none;
  margin-right: 45px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__list li::after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #212121;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header__list li:hover::after {
  width: 100%;
}

.header__list li a {
  color: #212121;
}

.header__arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: 75px;
}

@media (max-width: 1050px) {
  .header li {
    margin-right: 20px;
  }
}

@media (max-width: 1200px) {
  .header .header__arrow {
    display: none;
  }
}

@media (max-width: 768px) {
  .header .header__row {
    height: 50px;
  }
  .header .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    margin-right: 20px;
  }
  .header .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header .header__burger::before,
  .header .header__burger::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .header__arrow {
    display: none;
  }
  .header .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #00897b;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    padding: 70px 0 0 0;
  }
  .header .header__menu.active {
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
  }
  .header .header__list {
    display: block;
    padding: 60px 10px 20px 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .header .header__list li {
    margin-bottom: 40px;
  }
  .header .header__list li:last-child {
    display: none;
  }
  .header .header__list li::after {
    display: none;
  }
  .header .header__list li a {
    color: #fff;
  }
}

.header__hello {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.header__title {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
}

.header__subtitle {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  margin: 25px 0 120px 0;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  width: 100%;
}

.header__buttons-1 {
  width: 220px;
  height: 70px;
  margin-right: 25px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
}

.header__buttons-2 {
  width: 220px;
  height: 70px;
  background-color: #00897b;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .header__title {
    font-size: 40px;
    padding: 0 10px;
  }
  .header__subtitle {
    font-size: 22px;
    text-align: center;
    margin-bottom: 60px;
    padding: 0 10px;
  }
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .header__buttons-1 {
    width: 170px;
    height: 40px;
    margin-right: 0;
  }
  .header__buttons-2 {
    width: 170px;
    height: 40px;
    margin: 10px 0 0 0;
  }
  .header__buttons .container {
    margin: 0 auto;
  }
}

@media (max-height: 500px) {
  .header .header__row {
    height: 40px;
    padding-top: 5px;
  }
  .header .header__title {
    font-size: 40px;
  }
  .header .header__subtitle {
    font-size: 16px;
    margin: 25px 0 25px 0;
  }
}

.about {
  text-align: center;
}

.about__title {
  font-size: 30px;
  font-weight: bold;
  margin: 115px 0 20px 0;
}

.about__subtitle {
  font-size: 15px;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 15px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px 0;
}

.about__container {
  text-align: center;
  max-width: 270px;
  margin-right: 125px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.about__container-logo {
  margin-bottom: 30px;
}

.about__container-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.about__container-subtitle {
  font-size: 15px;
}

@media (max-width: 768px) {
  .about__title {
    margin: 50px 0 20px 0;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services {
  text-align: center;
  background-color: #E4FDF9;
}

.services__title {
  font-size: 30px;
  font-weight: bold;
  margin: 115px 0 20px 0;
  padding: 0 10px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px 0;
}

.services__container {
  max-width: 370px;
  margin-right: 80px;
  padding: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.services__container:hover {
  background-color: #00897B;
  color: #fff;
}

.services__container:hover .services__container-logo {
  color: #fff;
}

.services__container:hover .services__btn {
  color: #fff;
  border: 2px solid #fff;
}

.services__container:last-child {
  margin-right: 0;
}

.services__container-logo {
  margin-bottom: 30px;
}

.services__container-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.services__container-subtitle {
  font-size: 15px;
  margin-bottom: 25px;
}

.services__btn {
  width: 150px;
  height: 50px;
  border: 2px solid #000;
  background-color: transparent;
}

@media (max-width: 900px) {
  .services__container {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .services__title {
    margin: 50px 0 20px 0;
  }
  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__container {
    margin-right: 0;
    margin: 0 auto;
  }
  .services__container:last-child {
    margin: 0 auto;
  }
  .services__container-logo {
    padding-left: 20px;
  }
}

.works__title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.works__subtitle {
  font-size: 15px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.works__buttons {
  text-align: center;
  margin-bottom: 120px;
}

.works__buttons-btn {
  width: 150px;
  height: 50px;
  border: 2px solid #000;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.works__buttons-btn:hover {
  background-color: #00897B;
  color: #fff;
  border: none;
}

.works__blog-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__blog-container {
  margin: 0 15px 15px 0;
}

.works__blog-container:last-child {
  margin: 0 0 15px 0;
}

@media (max-width: 1150px) {
  .works__blog-container {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .works__blog-container:last-child {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .works__blog-container img {
    height: 320px;
    width: 320px;
  }
  .works__buttons-btn {
    margin-bottom: 10px;
  }
}

@media (max-height: 500px) {
  .works__blog-container {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .works__blog-container:last-child {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .works__blog-container img {
    width: 320px;
    height: 320px;
  }
}

.plan__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.plan__subtitle {
  font-size: 15px;
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.plan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan__container {
  width: 370px;
  height: 660px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.plan__container:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.plan__container-sqr {
  z-index: 2;
  width: 370px;
  height: 210px;
  background-color: #3949AB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.plan__container-sqr::after {
  content: '';
  right: 0;
  bottom: 0;
  position: absolute;
  /* Абсолютное позиционирование */
  border: 30px solid transparent;
  border-right: 370px solid #fff;
  border-bottom: 0px solid #fff;
}

.plan__container-title {
  font-size: 25px;
}

.plan__container-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plan__container-price-1 {
  font-size: 50px;
  padding-right: 5px;
}

.plan__container-price-text {
  font-size: 15px;
  padding-top: 30px;
}

.plan__container-description li {
  text-align: center;
  list-style: none;
  font-size: 17px;
  padding-bottom: 10px;
}

.plan__container-description span {
  content: '';
  margin: 0 auto;
  display: block;
  width: 178px;
  height: 1px;
  background-color: #707070;
  margin-bottom: 30px;
}

.plan__container-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan__container-btn {
  margin-top: 65px;
  width: 150px;
  height: 50px;
  border: 2px solid #000;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.plan__container-btn:hover {
  background-color: #00897B;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

@media (max-width: 1150px) {
  .plan__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .plan__container {
    width: 320px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .plan__container-sqr {
    width: 320px;
    height: 170px;
    padding: 0 5px 0 5px;
  }
  .plan__container-btn {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .plan__container-sqr::after {
    border-right: 320px solid #fff;
  }
}

.team__title {
  font-size: 30px;
  font-weight: bold;
  margin: 110px 0 20px 0;
  text-align: center;
}

.team__subtitle {
  font-size: 15px;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__block {
  text-align: center;
  margin: 0 20px;
}

.team__block img {
  max-width: 100%;
  max-height: 100%;
}

.team__block-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.team__block-subtitle {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .team__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog {
  background-color: #E4FDF9;
  padding-top: 30px;
  padding-bottom: 60px;
}

.blog__title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 115px 0 20px 0;
}

.blog__subtitle {
  text-align: center;
  max-width: 640px;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__row-img {
  margin-left: 160px;
}

.blog__row-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__row-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 570px;
  margin-left: 30px;
}

.blog__row-title {
  font-size: 25px;
  font-weight: 600;
  color: #00897B;
  margin: 50px 0 65px 0;
}

.blog__row-subtitle {
  font-size: 15px;
  max-width: 470px;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .blog__row-rev img {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .blog__row {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog__row img {
    width: 470px;
    height: 300px;
  }
  .blog__row-rev {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .blog__row-rev img {
    width: 470px;
    height: 300px;
  }
  .blog__row-block {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .blog__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .blog__row img {
    width: 320px;
    height: 200px;
  }
  .blog__row-rev {
    margin: 0 auto;
  }
  .blog__row-rev img {
    width: 320px;
    height: 200px;
  }
}

.footer {
  background-image: url(../img/footer.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__title {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.footer__subtitle {
  text-align: center;
  max-width: 640px;
  font-size: 15px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 70px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block {
  width: 250px;
  height: 250px;
  text-align: center;
  color: #fff;
}

.footer__block .footer__logo {
  width: 105px;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.footer__block .footer__logo-2 {
  position: absolute;
  z-index: 2;
}

.footer__row-mob {
  width: 100%;
  height: 400px;
  background-color: #3949AB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  display: none;
}

.footer__row-mob_container {
  text-align: center;
}

.footer__svg {
  margin: 15px;
}

.footer__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input-sm {
  width: 50%;
  margin-right: 30px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
}

.footer__input-sm:last-child {
  margin-right: 0;
}

.footer__input-sm::-webkit-input-placeholder {
  padding-left: 10px;
}

.footer__input-sm:-ms-input-placeholder {
  padding-left: 10px;
}

.footer__input-sm::-ms-input-placeholder {
  padding-left: 10px;
}

.footer__input-sm::placeholder {
  padding-left: 10px;
}

.footer__input-bg {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.footer__input-bg::-webkit-input-placeholder {
  padding: 15px;
}

.footer__input-bg:-ms-input-placeholder {
  padding: 15px;
}

.footer__input-bg::-ms-input-placeholder {
  padding: 15px;
}

.footer__input-bg::placeholder {
  padding: 15px;
}

.footer__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.footer__btn button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.footer_textarea {
  padding: 10px;
}

@media (max-width: 900px) {
  .footer .footer__block {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer__input-sm {
    margin: 10px;
  }
  .footer__input-sm:last-child {
    margin: 10px;
  }
  .footer__input-bg {
    height: 250px;
  }
  .footer__row-mob {
    display: block;
  }
}

.end {
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  z-index: 10;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */