* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

a {
    text-decoration: none;
}
body {
}
body.lock {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


//=== header ===//
.header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__bg {
        position: fixed;
        width: 100%;
        background-color: #fff;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 3;
        }
    }
    &__row {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            
        }
    }
    &__body {
        
    }

    &__logo {
        position: relative;
        z-index: 5;
        margin-left: 20px;
    }

    &__burger {
        display: none;
    }

    &__list {
        display: flex;

        font-size: 20px;
        letter-spacing: 1px;
        line-height: 22px;
        font-weight: 400;
        position: relative;
        z-index: 3;
        li {
            list-style: none;
            margin-right: 45px;
            &:last-child {
                margin-right: 0;
            }
            &::after {
                content: '';
                display: block;
                height: 1px;
                width: 0;
                background-color: #212121;;
                transition: width .3s;
            }
            &:hover::after {
                width: 100%;
            }

            a {
                color: #212121;
            }
            
        }
    }
    &__arrow {
        position: absolute;
        bottom: 0;
        margin-bottom: 75px;
    }

    @media(max-width: 1050px){
        li {
            margin-right: 20px;
        }

    }
    @media(max-width: 1200px){
        .header__arrow {
            display: none;
        }
    }
    @media(max-width: 768px){
        .header__row {
            height: 50px;
        }
        .header__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 5;
            margin-right: 20px;
        }
        .header__burger span {
            position: absolute;
            background-color: #000;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all .3s ease 0s;

        }

        .header__burger::before,
        .header__burger::after {
            content: '';
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 2px;
            transition: all .3s ease 0s;
        }
        .header__burger::before {
            top: 0;

        }
        .header__burger::after {
            bottom: 0;
        }

        .header__burger.active::before {
            transform: rotate(45deg);
            top: 9px;
        }
        .header__burger.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
         
        .header__burger.active span {
            transform: scale(0);
        }
        .header__arrow {
            display: none;
        }
        

        .header__menu {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #00897b;
            transition: all .3s ease 0s;
            padding: 70px 0 0 0;
        }

        .header__menu.active {
            left: 0;
            justify-content: center;
            overflow: auto;
        }

        .header__list {
            display: block;
            padding: 60px 10px 20px 10px;
            font-size: 30px;
            font-weight: bold;
            
            text-align: center;

            
            li {
                margin-bottom: 40px;
                
                &:last-child {
                    display: none;
                }
                &::after {
                    display: none;
                }
                a {
                    color: #fff;
                }
                
            }
        }


        
    }

    

	&__hello {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
	}
	&__title {
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
        text-align: center;
	}
	&__subtitle {
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #fff;
        margin: 25px 0 120px 0
	}
	&__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #fff;
        width: 100%;
        &-1 {
            width: 220px;
            height: 70px;
            margin-right: 25px;
            border: 2px solid #fff;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            background-color: transparent;
        }
        &-2 {
            width: 220px;
            height: 70px;
            background-color: #00897b;
            border: none;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
        }
        
    }       
    @media (max-width: 767px) {
        &__title {
            font-size: 40px;
            padding: 0 10px;
        }
        &__subtitle {
            font-size: 22px;
            text-align: center;
            margin-bottom: 60px;
            padding: 0 10px;
        }
        &__buttons {
            flex-direction: column;
            width: auto;
            &-1 {  
                width: 170px;
                height: 40px;
            }
            &-2 {
                width: 170px;
                height: 40px;
                margin: 10px 0 0 0;
            }
            .container {
                margin: 0 auto;
            }
        }
    }
    @media(max-height: 500px){
        .header__row {
            height: 40px;
            padding-top: 5px;
        }
        .header__title{
            font-size: 40px;
        }
        .header__subtitle {
            font-size: 16px;
            margin: 25px 0 25px 0;
        }
    }
    
    
    
}

//=== /header ===// 

//=== about ===//

.about {
    text-align: center;
    &__title {
        font-size: 30px;
        font-weight: bold;

        margin: 115px 0 20px 0;
    }

    &__subtitle {
        font-size: 15px;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__row {
        display: flex;
        margin: 90px 0 ;

    }

    &__container {
        text-align: center;
        max-width: 270px;
        margin-right: 125px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    &__container-logo {
        margin-bottom: 30px;
    }

    &__container-title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__container-subtitle {
        font-size: 15px;
    }
    @media(max-width: 768px){
        &__title {
            margin: 50px 0 20px 0;
        }
        &__row{
            flex-direction: column;
        }
    }
}

//=== /about ===//

// === services
.services {
    text-align: center;
    background-color: #E4FDF9;
    &__title {
        font-size: 30px;
        font-weight: bold;

        margin: 115px 0 20px 0;
        padding: 0 10px;
    }

    &__row {
        display: flex;
        margin: 90px 0 ;
    }

    &__container {
        max-width: 370px;
        margin-right: 80px;
        padding: 50px;
        transition: all .3s;
        &:hover {
            background-color: #00897B;
            color: #fff;
            .services__container-logo {
                color: #fff;
            }
            .services__btn {
                color: #fff;
                border: 2px solid #fff;
            }
            
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__container-logo {
        margin-bottom: 30px;
    }

    &__container-title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__container-subtitle {
        font-size: 15px;
        margin-bottom: 25px;
    }
    &__btn {
        width: 150px;
        height: 50px;
        border: 2px solid #000;
        background-color: transparent;
    }
    @media(max-width: 900px){
        &__container {
            margin-right: 0px;
        }
    }
    @media(max-width: 768px){
        &__title {
            margin: 50px 0 20px 0;
        }
        &__row {
            flex-direction: column;
        }
        &__container {

            margin-right: 0;
            margin: 0 auto;
            &:last-child {
                margin: 0 auto;
            }
        }
        &__container-logo {
            padding-left: 20px;
        }
    }
}





